body{

    background-color: #eee; 
  }
  
  .card{
    background-color: #111827;
    padding: 15px;
    border:none;
  }
  
  .input-box{
    position: relative;
  }
  
  .input-box i {
    position: absolute;
    right: 13px;
    top:15px;
    color:#ced4da;
  
  }

  .form-control{
  
    height: 50px;
    background-color:#eeeeee69;
  }
  
  .form-control:focus{
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
  }
  
  
  .list{
  
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  
  }
  
  .border-bottom{
  
    border-bottom: 2px solid #eee;
  }
  
  .list i{
    font-size: 19px;
    color: red;
  }
  
  .list small{
  
    color:#dedddd;
  }

  .fetch{
    color: white;
    font-size: 30px;
    font-weight: 600;
    border: 5px solid #512da8;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Syne Mono', monospace;
  }
  .fetch:focus{
    color: white;
    background-color: #512da8;
  }

  .back2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .param{
    margin-top: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Syne Mono', monospace;
  }
