.row{
    margin: 20px;
    color: white;
    font-size: 20px;
    /* background-color: grey; */
    /* background: url("https://wallpaperaccess.com/full/1129027.jpg"); */
    /* background: black; */
    background: #1f2937;
    padding: 50px;
    width: 800px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* background: yellow; */
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    background: #111827;
    /* background: url("https://wallpaperaccess.com/full/1129027.jpg"); */
    /* background: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000"); */
}

label{
    font-size: 20px;
    font-weight: 600;
}

.form-control, .agee{
    font-size: 20px;
    /* border:5px solid black; */
    font-weight: 400;
    margin-bottom: 30px;
    background-color: white;
}

.form-control:focus{
    background-color: white;
}
.form-label{
    display: block;
    margin: 0px;
}


.agee{
    font-size: 20px;
    color: black;
    /* border:5px solid black; */
    border-radius: 10px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    width: 200px;
    padding: 10px;
}

.form-select{
    font-size: 20px;
    /* border:5px solid black; */
    font-weight: 400;
    margin: 0px 10px 30px 10px;
}

.center .btn{
    margin-top:50px;
    padding: 10px;
    width: 300px;
}

@media only screen and (max-width:1045px){
    .row{
        width: 600px;
    }
}