.row{
    margin-right: 0px;
    color: white;
    font-size: 20px;
    /* background-color: grey; */
    background: url("https://wallpaperaccess.com/full/1129027.jpg");
    padding: 50px;
    width: 800px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    background: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000");
}

label{
    font-size: 20px;
    font-weight: 600;
}

.form-control, .agee{
    font-size: 20px;
    border:5px solid black;
    font-weight: 400;
    margin-bottom: 30px;
}

.form-label{
    display: block;
    margin: 0px;
}


.agee{
    font-size: 20px;
    border:5px solid black;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    width: 200px;
    padding: 10px;
}

.form-select{
    font-size: 20px;
    border:5px solid black;
    font-weight: 400;
    margin: 0px 10px 30px 10px;
}

.center .btn{
    margin-top:110px;
    padding: 10px;
    width: 300px;
}