.container-fluid{
    font-size: 30px;
    color: white;
    padding: 10px;
    /* font-family: 'Syne Mono', monospace; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.nav-item{
    margin-left:100% ;
    font-size: 20px;
    width: 200px;
    margin-left: 100px;
    background-color:#212529;
    border: 5px solid #512da8;
    border-radius: 25px;
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

.nav-item:hover{
    background-color: #512da8;
    color: white;
    border: 5px solid #212529;
    font-weight: 600;
    transition: 0.2s ease-in;
}

.back{
    /* background-color: yellow; */
    background: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000");
    background-size: cover;
    /* background-color: yellow; */
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back2{
    width: 100%;
    background: #111827;
    /* background: url("https://wallpaperaccess.com/full/1129027.jpg"); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}




.navbar-brand:hover{
    color: white;
}

img{
    height: 30px;
    margin-right: auto;
}



.btn{
    width: 400px;
    padding: 20px;
    margin: 15px;
    font-size: 35px;
    background-color: black;
    border: 5px solid #512da8;
    border-radius: 25px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Syne Mono', monospace;
}



.btn:hover{
    background-color: #512da8;
    color: white;
    border: 5px solid black;
    font-weight: 600;
    transition: 0.2s ease-in;
}

.transButton{
    width: 300px;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    background-color: #212529;
    border: 5px solid #512da8;
    border-radius: 25px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Syne Mono', monospace;
}

.transButton:hover{
    background-color: #512da8;
    font-weight: 600;
}


.backk{
    position: absolute;
    width: 100px;
    padding: 10px;
}


@media only screen and (max-width:1045px){
    .container-fluid{
        font-size: 25px;
    }
    img{
        height: 20px;
    }
}